.products{
    padding: 30px 50px ;
    display: flex;

    .left{
        flex: 1;
        position: sticky;
    }
    .right{
        flex: 3;

        .catImg{
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}
