.nav {
  height: 70px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    border-bottom: #e5e5e5 solid 1px;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        list-style: none;
       
    }
    .buttons{
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
